{:deps
 {nuid/bn {:sha "c87a3275a91e51cea3bae2f4f0c940f14c9f1be5"
           :git/url "git@github.com:NuID/bn.git"}
  org.bouncycastle/bcprov-jdk15on {:mvn/version "1.60"}
  com.cognitect/transit-cljs {:mvn/version "0.8.256"}
  org.clojure/clojurescript {:mvn/version "1.10.520"}
  com.cognitect/transit-clj {:mvn/version "0.8.313"}
  org.clojure/clojure {:mvn/version "1.10.0"}}
 :aliases
 {:cambada
  {:extra-deps {luchiniatwork/cambada {:mvn/version "1.0.0"}}}}
 :paths ["src"]}
