{:builds
 {:browser
  {:modules {:nuid_elliptic {:entries [nuid.elliptic]}},
   :output-dir "target/browser",
   :asset-path "target/browser",
   :target :browser,
   :compiler-options
   {:externs ["externs/bn.ext.js" "externs/elliptic.ext.js"]}},
  :node
  {:output-to "target/node/nuid_elliptic.js",
   :exports-var nuid.elliptic/exports,
   :target :node-library,
   :compiler-options
   {:externs ["externs/bn.ext.js" "externs/elliptic.ext.js"]}}},
 :deps {:aliases []}}
